.container-fluid{
/* background-color: black; */


}
.marvel-title{
  text-align: center;
margin: 0px;
background-image: url(../img2/background.jpg) ;

background-size:cover;
background-repeat: no-repeat;
background-attachment: fixed;
padding:200px;
padding-right: 0px;
background-color: black;
}
#image {
  width: 850px;
  float: left;
  padding-left: 00px;
}
#image2 {
  padding-top:100px;
  padding-right:200px;
}
#find-out {
  padding-top: 100px;
    padding-right:200px;
}
#dead{
  padding-right: 0px;
  padding-left: 400px;
  margin-left: 90px;
  text-align: center;
  float: right;

}
#bdy{
  background-image: url(../img2/moonthrow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding-top: 300px;


}
#death h1 {
  margin-left: 300px;
}
#qt {
  margin-right: 190px;
}
