.container-fluid{
background-color: black;
padding:500px;
padding-left: 100px;
padding-top: 50px;
text-align: center;

}
.marvel-title{
  text-align: center;
margin: 0px;
background-image: url(../img2/background.jpg) ;

background-size:cover;
background-repeat: no-repeat;
background-attachment: fixed;
padding:200px;
padding-right: 0px;
background-color: black;
}
#image {
  width: 850px;
  float: left;
  padding-left: 00px;
}
#image2 {
  padding-top:100px;
  padding-right:200px;
}
#find-out {
  padding-top: 100px;
    padding-right:200px;
}
#dead{
  padding-right: 0px;

}
